<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>inbox</mat-icon>
    </div>
    <mat-card-title>{{ todo?.title }}</mat-card-title>
    <mat-card-subtitle>Please action</mat-card-subtitle>
  </mat-card-header>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <pre>{{todo | json}}</pre>
  <h4>Please chose faculty for this project</h4>
  <mat-form-field>
    <mat-label>Faculty</mat-label>
    <mat-select [(ngModel)]="faculty">
      <mat-option *ngFor="let faculty of faculties" [value]="faculty">
        {{faculty}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>School</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let school of ['Business School', 'Confucius Institute', 'School of Design', 'School of Humanities', 'Law School', 'UWA Conservatorium of Music', 'School of Social Sciences']"
        [value]="school">
        {{school}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-actions>
    <button mat-button (click)="approveProject()" [disabled]="!faculty">Approve</button>
    <button mat-button (click)="rejectProject()">Reject</button>
    <button mat-button (click)="rejectProject()" [disabled]="!faculty">Enroll</button>
  </mat-card-actions>
</mat-card>