<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>inbox</mat-icon>
    </div>
    <mat-card-title>{{ todo?.title }}</mat-card-title>
    <mat-card-subtitle>Please action</mat-card-subtitle>
  </mat-card-header>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <pre>{{todo | json}}</pre>
  <mat-card-actions>
    <button mat-button (click)="approveEoiBusiness()">Approve</button>
    <button mat-button (click)="rejectEoiBusiness()">Reject</button>
  </mat-card-actions>
</mat-card>