<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div *ngIf="hostInstitutionFormGroup">
  <h2>{{projectTitle}}</h2>
  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="courseFormGroup">
      <form [formGroup]="courseFormGroup">
        <div class="form-container">
          <ng-template matStepLabel>Course</ng-template>
          <mat-form-field>
            <input matInput placeholder="Course Name" formControlName="courseNameCtrl"
              (ngModelChange)="projectDoc.update({courseName: $event})">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Major Discipline Area" formControlName="majorDisciplineAreaCtrl"
              (ngModelChange)="projectDoc.update({majorDisciplineArea: $event})">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="placementFormGroup">
      <form [formGroup]="placementFormGroup">
        <div class="form-container">
          <ng-template matStepLabel>Dates</ng-template>
          <mat-form-field>
            <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date"
              (dateChange)="dateChanged('start', $event)">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="endDatePicker" placeholder="End Date"
              (ngModelChange)="projectDoc.update({endDate: $event})">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="studentFormGroup">
      <form [formGroup]="studentFormGroup">
        <div class="form-container">
          <ng-template matStepLabel>Student</ng-template>
          <mat-form-field>
            <input matInput placeholder="Student Name" formControlName="studentNameCtrl"
              (ngModelChange)="projectDoc.update({studentName: $event})">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Student Title" formControlName="studentTitleCtrl"
              (ngModelChange)="projectDoc.update({studentTitle: $event})">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Student ID" formControlName="studentIdCtrl"
              (ngModelChange)="projectDoc.update({studentId: $event})">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Telephone" formControlName="studentPhoneCtrl"
              (ngModelChange)="projectDoc.update({studentPhone: $event})">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="studentEmailCtrl"
              (ngModelChange)="projectDoc.update({studentEmail: $event})">
          </mat-form-field>
        </div>
        <div>
          <button type="button" mat-button matStepperPrevious>Back</button>
          <button type="button" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="hostInstitutionFormGroup">
      <form [formGroup]="hostInstitutionFormGroup">
        <div class="form-container">
          <ng-template matStepLabel>{{submitStepLabel}}</ng-template>
          <div *ngIf="isSelfSourced">
            <mat-form-field>
              <input matInput placeholder="Company Name" formControlName="hostNameCtrl"
                (ngModelChange)="projectDoc.update({hostName: $event})">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Supervisor Name" formControlName="supervisorNameCtrl"
                (ngModelChange)="projectDoc.update({supervisorName: $event})">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Supervisor Email" formControlName="supervisorEmailCtrl"
                (ngModelChange)="projectDoc.update({supervisorEmail: $event})">
            </mat-form-field>
          </div>
          <mat-checkbox #check1>
            I understand that I need to check my emails regularly,
            because the Practicum Coordinator may send me project offerings.
          </mat-checkbox>
          <mat-checkbox #check2>
            I understand that by completing this form a project is not guaranteed.
            I am however expressing my interest to be considered for a project.
          </mat-checkbox>
        </div>
        <div>
          <button type="button" mat-button matStepperPrevious>Back</button>
          <button type="button" mat-button [disabled]="!(check1.checked && check2.checked)" (click)="submit()">
            {{submitButtonText}}
          </button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>