<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Sign in to use application</mat-card-subtitle>
  </mat-card-header>

  <button mat-raised-button class="facebook-block-button" (click)="loginFacebook()">
    <span> Sign In With Facebook </span>
  </button> 
  <button mat-raised-button class="google-block-button" (click)="loginGoogle()">
    <img class="google-icon" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
    <span> Sign In With Google </span>
  </button>
</mat-card>