<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>folder_open</mat-icon>
    </div>
    <mat-card-title>Projects</mat-card-title>
    <mat-card-subtitle>Choose one of the available projects</mat-card-subtitle>
  </mat-card-header>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <mat-form-field>
    <mat-label>Area of interest</mat-label>
    <mat-select>
      <mat-option *ngFor="let area of areas" [value]="area">
        {{area}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-list>
    <mat-list-item *ngFor="let projectGroup of projectGroups | async" routerLink="/business/{{projectGroup.id}}">
      {{ projectGroup.title }}
    </mat-list-item>
  </mat-list>
  <button mat-fab>
    <mat-icon aria-label="Add" (click)="addNewProjectGroup()">add</mat-icon>
  </button>
</mat-card>