<div class="center-div">
    <mat-toolbar color="primary" style="border-bottom: 5px solid #e1b600">
        <button mat-button routerLink="/">
            <img style="height: 40px;" src="./assets/uwa-logo-full.svg" alt="The University of Western Australia Logo">
        </button>
        <span class="fill-space"></span>
        <a *ngIf="!login" style="float: left;" mat-button routerLink="/login">Sign In</a>
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="login">
            <img class="toolbar-photo" src={{photoURL}}>
        </button>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button mat-menu-item (click)='logout()'>Sign Out</button>
    </mat-menu>

    <mat-sidenav-container>
        <mat-sidenav #sidenav fixedInViewport=true mode="over" (click)="sidenav.toggle()">
            <mat-nav-list>
                <mat-list-item>
                    <a matLine href="{{homeUrl}}">Home</a>
                </mat-list-item>
                <mat-list-item routerLink="/university" routerLinkActive="active">
                    <a matLine>University</a>
                </mat-list-item>
                <mat-list-item routerLink="/business/profile" routerLinkActive="active">
                    <a matLine>Business profile</a>
                </mat-list-item>
                <mat-list-item routerLink="/business" routerLinkActive="active">
                    <a matLine>Business</a>
                </mat-list-item>
                <mat-list-item routerLink="/student/profile" routerLinkActive="active">
                    <a matLine>Student profile</a>
                </mat-list-item>
                <mat-list-item routerLink="/student" routerLinkActive="active">
                    <a matLine>Student</a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine (click)="logout()">Sign Out</a>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>