<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>info</mat-icon>
    <mat-card-title>Professional Internship Checklist</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      To get started on your project you must complete the following items.
    </p>
    <p>
      In the meantime you may apply for projects, but you will not be enrolled and confirmed until you complete this
      section.
    </p>
    <p>
      Once you have completed this section, please upload your course completion certificate to verify.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>Upload Certificate</button>
  </mat-card-actions>
</mat-card>

<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-icon>check_box</mat-icon> &nbsp;
      <mat-panel-title>
        <strong>Enrolment Information</strong>
      </mat-panel-title>
      <mat-panel-description fxShow.xs="false">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-icon>check_box_outline_blank</mat-icon> &nbsp;
      <mat-panel-title>
        <strong>Information Sessions</strong>
      </mat-panel-title>
      <mat-panel-description fxShow.xs="false">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Book in and attend your information session.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-icon>check_box_outline_blank</mat-icon> &nbsp;
      <mat-panel-title>
        <strong>Career Modules</strong>
      </mat-panel-title>
      <mat-panel-description fxShow.xs="false">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Complete your career modules to help you succeed to your full potential in this project and your career.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-icon>check_box_outline_blank</mat-icon> &nbsp;
      <mat-panel-title>
        <strong>Academic Requirements</strong>
      </mat-panel-title>
      <mat-panel-description fxShow.xs="false">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
    </p>
  </mat-expansion-panel>
</mat-accordion>