<mat-card>
  <mat-card-header>
    <mat-card-title>
      <markdown [data]="(project | async)?.title"></markdown>
    </mat-card-title>
  </mat-card-header>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <markdown [data]="(project | async)?.description"></markdown>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="storeProjectUrl(projectId)"
      routerLink="/student/eoi/{{projectId}}/{{(project | async)?.businessId}}/true">Interested</button>
    <button mat-icon-button>
      <mat-icon aria-label="Edit" routerLink="/projectEdit/{{projectId}}">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>