@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-wil-accent: (
    50 : #fbf6e6,
    100 : #f6e9c0,
    200 : #f0db96,
    300 : #eacc6c,
    400 : #e6c14d,
    500 : #e1b62d,
    600 : #ddaf28,
    700 : #d9a622,
    800 : #d59e1c,
    900 : #cd8e11,
    A100 : #fffdfb,
    A200 : #ffebc8,
    A400 : #ffd995,
    A700 : #ffcf7b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
    
    
        
$mat-wil-primary: (
    50 : #e5e7f1,
    100 : #bec2dc,
    200 : #939ac5,
    300 : #6871ae,
    400 : #47529c,
    500 : #27348b,
    600 : #232f83,
    700 : #1d2778,
    800 : #17216e,
    900 : #0e155b,
    A100 : #9098ff,
    A200 : #5d69ff,
    A400 : #2a3aff,
    A700 : #1122ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wil-app-primary: mat-palette($mat-wil-primary);
$wil-app-accent:  mat-palette($mat-wil-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wil-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wil-app-theme: mat-light-theme($wil-app-primary, $wil-app-accent, $wil-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wil-app-theme);